<div class="jumbotron">
    <div class="container">
        <div class="media">
            <img src="./assets/noun_Wolverine_68964_colored.png" class="align-self-start mr-3" width="62" height="62"
                alt="Wolverine by Yi Chen from the Noun Project">
            <div class="media-body">
                <h1>Wolverine</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-5 mr-5">

            <!-- Create -->
            <div style="margin-bottom: 7em;">
                <span class="h4 text-dark"><i class="far fa-file text-primary mr-3"></i>Create</span> <br />
                <p class="text-muted">Use this option to create a new project which can then be used to sort and
                    analyze.
                </p>
                <form>
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input [(ngModel)]="NewProject.name" name="projectName" type="text" class="form-control"
                            aria-describedby="Project Name" placeholder="Name your project">
                        <small id="newProjectHelp" class="form-text text-muted">Avoid using space and special
                            characters. This cannot be modified later on.</small>
                    </div>
                    <div class="form-group">
                        <label for="authorName">Author Name</label>
                        <input [(ngModel)]="NewProject.author" name="author" type="text" class="form-control"
                            aria-describedby="Author Name" placeholder="What's your name?">
                        <small id="newProjectHelp" class="form-text text-muted">This cannot be modified later
                            on.</small>
                    </div>
                    <div *ngIf="IsCreateProjectFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        <strong>Project Name</strong> and <strong>Author</strong> cannot be empty. Make sure that you've
                        updated them.
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Create()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsCreatingNewProject">Create New</span>
                                        <span *ngIf="IsCreatingNewProject">Creating</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsCreatingNewProject" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                </form>
            </div>

            <!-- Sort -->
            <div style="margin-bottom: 7em;">
                <span class="h4 text-dark"><i class="far fa-clone text-primary mr-3"></i>Participate</span> <br />
                <p class="text-muted">Use this option as a participant to sort cards in an existing project.</p>
                <form>
                    <div class="form-group">
                        <label for="projectId">Project Id</label>
                        <input [(ngModel)]="SortProjectId" name="sortId" type="text"
                            placeholder="Usually a GUID like 64b2998e-bcad-49bf-bd2f-837a02abe18a" aria-label="Project Id"
                            class="form-control">
                        <small id="sortProjectHelp" class="form-text text-muted">Ask for the Project Id from the project
                            author.</small>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Sort()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsOpeningForSorting">Let me Sort</span>
                                        <span *ngIf="IsOpeningForSorting">Opening...</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsOpeningForSorting" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                    <div *ngIf="IsSortProjectIdMissing" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        <strong>Project ID</strong> cannot be empty.  <br />
                        Which project would you like to sort? Contact the <strong>Project Author</strong> and he should be able to help you out!
                    </div>

                    <div *ngIf="IsOpeningForSortingFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        Unable to find the project. Make sure that you are using the correct <strong>Project
                            Id</strong>.
                    </div>

                </form>
            </div>

            <!-- Analyze -->
            <div style="margin-bottom: 7em;">
                <span class="h4 text-dark"><i class="far fa-chart-bar text-primary mr-3"></i>Analyze</span> <br />
                <p class="text-muted">Use this option to see how participants organized the cards.</p>
                <form>
                    <div class="form-group">
                        <label for="projectId">Project Id</label>
                        <input [(ngModel)]="AnalyzeProjectId" name="analyzeId" type="text"
                            placeholder="Usually a GUID like 64b2998e-bcad-49bf-bd2f-837a02abe18a" aria-label="Project Id"
                            class="form-control">
                        <small id="analyzeProjectHelp" class="form-text text-muted">If you are the author, then you
                            would know this <i class="far fa-smile-wink"></i></small>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Analyze()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsOpeningForAnalysis">Analyze</span>
                                        <span *ngIf="IsOpeningForAnalysis">Opening...</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsOpeningForAnalysis" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                    <div *ngIf="IsAnalyzeProjectIdMissing" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        <strong>Project ID</strong> cannot be empty. Which project would you like to analyze? <br />
                        Contact the <strong>Project Author</strong> and he should be able to help you out!
                    </div>
                    <div *ngIf="IsOpeningForAnalysisFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        Unable to find the project. Make sure that you are using the correct <strong>Project
                            Id</strong>.
                    </div>

                </form>
            </div>

        </div>

        <div class="col-md-5">

            <div class="alert alert-warning">
                <div class="mb-5">
                    <blockquote class="blockquote">
                        <h4>Card Sorting</h4>
                        <p class="mb-0">Card sorting is a method used to help design or evaluate the information
                            architecture of
                            a site. In a card sorting session, participants organize topics into categories that make
                            sense to
                            them and they may also help you label these groups.</p>
                        <footer class="blockquote-footer">Definition from
                            <cite title="Source Title"><a
                                    href="https://www.usability.gov/how-to-and-tools/methods/card-sorting.html">Usability.gov</a></cite>
                        </footer>
                    </blockquote>
                    <p class="lead text-muted">
                        To conduct a card sort, you can use actual cards, pieces of paper, or one of
                        several online
                        card-sorting software tools. And this is one such tool!
                    </p>
                </div>

                <div class="mb-5">
                    <h4>How to use Wolverine</h4>
                    <em>Wolverine</em> provides a simple workflow to do card sorting.
                    <ul class="list-unstyled">
                        <li><b>Create</b> a project by defining Cards and Groups.</li>
                        <li><b>Save</b> and <b>Publish</b> it.</li>
                        <li><b>Share</b> the Id with participants.</li>
                        <li>Let the Participants <b>Sort</b>.</li>
                        <li>And finally, <b>Analyze</b> the results and conclude the information architecture.</li>
                    </ul>
                    <img class="w-100" src="./assets/workflow.png" />
                </div>

                <div class="small text-muted">
                    Wolverine is licensed under <a href="https://github.com/sudarsanyes/wolverine/blob/master/LICENSE">MIT</a>. <br />
                    If you encounter bugs don't forget to <a href="https://github.com/sudarsanyes/wolverine/issues">report</a> them. <br />
                    To collaborate, contact sudarsanyes[at]hotmail[dot]com.
                </div>
            </div>
        </div>

    </div>
</div>