<div class="jumbotron">
    <div class="container">
        <div class="media">
            <img src="./assets/noun_Wolverine_68964_colored.png" class="align-self-start mr-3" width="62" height="62"
                alt="Wolverine by Yi Chen from the Noun Project">
            <div class="media-body">
                <h1>Wolverine</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-5 mr-5">

            <!-- Create -->
            <div style="margin-bottom: 7em;">
                <span class="h4 text-dark"><i class="far fa-file text-primary mr-3"></i>Create</span> <br />
                <p class="text-muted">Use this option to create a new project which can then be used to sort and
                    analyze.
                </p>
                <form>
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input [(ngModel)]="NewProject.name" name="projectName" type="text" class="form-control"
                            aria-describedby="Project Name" placeholder="Name your project">
                        <small id="newProjectHelp" class="form-text text-muted">Avoid using space and special
                            characters. This cannot be modified later on.</small>
                    </div>
                    <div class="form-group">
                        <label for="authorName">Author Name</label>
                        <input [(ngModel)]="NewProject.author" name="author" type="text" class="form-control"
                            aria-describedby="Author Name" placeholder="What's your name?">
                        <small id="newProjectHelp" class="form-text text-muted">This cannot be modified later
                            on.</small>
                    </div>
                    <div *ngIf="IsCreateProjectFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        <strong>Project Name</strong> and <strong>Author</strong> cannot be empty. <br />
                        You will need to specify a name for the project (and idenfiy yourself) in order to create it. 
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Create()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsCreatingNewProject">Create New</span>
                                        <span *ngIf="IsCreatingNewProject">Creating</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsCreatingNewProject" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                    <button type="button" class="btn btn-link mx-3 px-0" (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Open Existing
                    </button>

                </form>

                <small>
                    <div id="collapseExample" [ngbCollapse]="isCollapsed" class="alert alert-secondary my-3">
                        <form>
                            <div class="form-group">
                                <label for="projectName">Project Id</label>
                                <input [(ngModel)]="EditProjectId" name="editProjectId" type="text" class="form-control"
                                    aria-describedby="Project Id" placeholder="Project Id">
                                <small id="openProjectHelp" class="form-text text-muted">You can edit already created projects if you know its id.</small>
                            </div>
                            <div *ngIf="IsOpenForEditingFailed" class="alert alert-danger alert-dismissible fade show my-3"
                                role="alert">
                                <strong>Project Id</strong> not found. <br />
                                Are you sure this project exists?  
                            </div>
                            <button type="button" class="btn btn-secondary" (click)="Open()">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">
                                                <span *ngIf="!IsOpeningForEditing">Open Existing</span>
                                                <span *ngIf="IsOpeningForEditing">Opening</span>
                                            </td>
                                            <td class="align-middle">
                                                <div *ngIf="IsOpeningForEditing" class="spinner-border spinner-border-sm mx-3"
                                                    role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </button>
                        </form>
                    </div>
                </small>
            </div>

            <!-- Sort -->
            <div style="margin-bottom: 7em;">
                <span class="h4 text-dark"><i class="far fa-clone text-primary mr-3"></i>Sort</span> <br />
                <p class="text-muted">Use this option as a participant to sort cards in an existing project.</p>
                <form>
                    <div class="form-group">
                        <label for="projectId">Project Id</label>
                        <input [(ngModel)]="SortProjectId" name="sortId" type="text"
                            placeholder="Usually a GUID like 64b2998e-bcad-49bf-bd2f-837a02abe18a" aria-label="Project Id"
                            class="form-control">
                        <small id="sortProjectHelp" class="form-text text-muted">Ask for the Project Id from the project
                            author.</small>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Sort()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsOpeningForSorting">Let me Sort</span>
                                        <span *ngIf="IsOpeningForSorting">Opening...</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsOpeningForSorting" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                    <div *ngIf="IsSortProjectIdMissing" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        <strong>Project ID</strong> cannot be empty.  <br />
                        Which project would you like to sort? Contact the <strong>Project Author</strong> and he should be able to help you out!
                    </div>

                    <div *ngIf="IsOpeningForSortingFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        Unable to find the project with the Id you have mentioned. <br />
                        Make sure that you are using the correct <strong>Project Id</strong>.
                    </div>

                </form>
            </div>

            <!-- Analyze -->
            <div style="margin-bottom: 7em;">
                <span class="h4 text-dark"><i class="far fa-chart-bar text-primary mr-3"></i>Analyze</span> <br />
                <p class="text-muted">Use this option to see how participants organized the cards.</p>
                <form>
                    <div class="form-group">
                        <label for="projectId">Project Id</label>
                        <input [(ngModel)]="AnalyzeProjectId" name="analyzeId" type="text"
                            placeholder="Usually a GUID like 64b2998e-bcad-49bf-bd2f-837a02abe18a" aria-label="Project Id"
                            class="form-control">
                        <small id="analyzeProjectHelp" class="form-text text-muted">If you are the author, then you
                            must know this.</small>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Analyze()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsOpeningForAnalysis">Analyze Sort</span>
                                        <span *ngIf="IsOpeningForAnalysis">Opening...</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsOpeningForAnalysis" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                    <div *ngIf="IsAnalyzeProjectIdMissing" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        <strong>Project ID</strong> cannot be empty. <br />
                        Which project would you like to analyze? Contact the <strong>Project Author</strong> and he should be able to help you out!
                    </div>
                    <div *ngIf="IsOpeningForAnalysisFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        Unable to find the project with the Id you have mentioned. <br />
                        Make sure that you are using the correct <strong>Project Id</strong>.
                    </div>

                </form>
            </div>


            <!-- Search -->
            <div style="margin-bottom: 7em;">
                <span class="h4 text-dark"><i class="fa fa-search text-primary mr-3"></i>Search</span> <br />
                <p class="text-muted">Use this option to search for project using name.</p>
                <form>
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input [(ngModel)]="SearchProjectName" name="searchProjectName" type="text"
                            placeholder="Usually a name related to your activity" aria-label="Project Name"
                            class="form-control">
                        <small id="searchProjectNameHelp" class="form-text text-muted">If you are the author, then you
                            must know this.</small>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Search()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsSearchingForProject">Search</span>
                                        <span *ngIf="IsSearchingForProject">Searching...</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsSearchingForProject" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Searching...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                    <div *ngIf="IsSearchInitialized && !IsSearchingForProject">
                    <div *ngIf="IsSearchedProjectFound" class="alert alert-success alert-dismissible fade show my-3"
                        role="alert">
                        Project matching this name has been found! <br />
                        Use the id to Edit, Share, Sort and Analyze. 
                        <div class="mt-3 mb-3">
                            <small class="text-muted"><i class="fa fa-file" aria-hidden="true"></i></small>
                            <small class="text-muted mx-3">A project called <em>{{ SearchProject.name }}</em></small><br />
                            <small class="text-muted"><i class="fa fa-user-circle" aria-hidden="true"></i></small>
                            <small class="text-muted mx-3">By <em>{{ SearchProject.author }}</em></small><br />
                            <small class="text-muted"><i class="fa fa-id-card" aria-hidden="true"></i></small>
                            <small class="text-muted mx-3">With id <em>{{ SearchProject.id }}</em></small><br />
                            <small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i></small>
                            <small class="text-muted mx-3">Created on <em>{{ SearchProject.creationDate | date: 'dd MMMM yyyy, hh:mm a' }}</em></small><br />
                        </div>
                    </div>
                    <div *ngIf="!IsSearchedProjectFound" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        Project not found!
                    </div>
                </div>

                </form>
            </div>

        </div>

        <div class="col-md-5">

            <div class="alert alert-warning">
                <div class="mb-5">
                    <blockquote class="blockquote">
                        <h4>Card Sorting</h4>
                        <p class="mb-0">Card sorting is a method used to help design or evaluate the information
                            architecture of
                            a site. In a card sorting session, participants organize topics into categories that make
                            sense to
                            them and they may also help you label these groups.</p>
                        <footer class="blockquote-footer">Definition from
                            <cite title="Source Title"><a
                                    href="https://www.usability.gov/how-to-and-tools/methods/card-sorting.html">Usability.gov</a></cite>
                        </footer>
                    </blockquote>
                    <p class="lead text-muted">
                        To conduct a card sort, you can use actual cards, pieces of paper, or one of
                        several online
                        card-sorting software tools. And this is one such tool!
                    </p>
                </div>

                <div class="mb-5">
                    <h4>How to use Wolverine</h4>
                    <em>Wolverine</em> provides a simple workflow to do card sorting.
                    <ul class="list-unstyled">
                        <li><b>Create</b> a project by defining Cards and Groups.</li>
                        <li><b>Save</b> and <b>Publish</b> it.</li>
                        <li><b>Share</b> the Id with participants.</li>
                        <li>Let the Participants <b>Sort</b>.</li>
                        <li>And finally, <b>Analyze</b> the results and conclude the information architecture.</li>
                    </ul>
                    <img class="w-100" src="./assets/workflow.png" />
                </div>

                <div class="small text-muted">
                    Wolverine is licensed under <a href="https://github.com/sudarsanyes/wolverine/blob/master/LICENSE">MIT</a>. <br />
                    If you encounter bugs, don't forget to <a href="https://github.com/sudarsanyes/wolverine/issues">report</a> them. <br />
                    To collaborate, contact sudarsanyes[at]hotmail[dot]com.
                </div>
            </div>
        </div>

    </div>
</div>