<div class="jumbotron">
    <div class="container">
        <div class="media">
            <img src="./assets/noun_Wolverine_68964_colored.png" class="align-self-start mr-3" width="62"
                height="62" alt="Wolverine by Yi Chen from the Noun Project">
            <div class="media-body">
                <h1>Wolverine</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <!-- Create -->
    <div style="margin-bottom: 7em;">
        <span class="h4 text-dark"><i class="far fa-file text-primary mr-3"></i>Create</span> <br />
        <p class="text-muted">Use this option to create a new project which can then be used to sort and analyze.</p>
        <div class="row">
            <div class="col-7">
                <form>
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input [(ngModel)]="NewProject.name" name="projectName" type="text" class="form-control"
                            aria-describedby="Project Name" placeholder="Name your project">
                        <small id="newProjectHelp" class="form-text text-muted">Avoid using space and special
                            characters. This cannot be modified later on.</small>
                    </div>
                    <div class="form-group">
                        <label for="authorName">Author Name</label>
                        <input [(ngModel)]="NewProject.author" name="author" type="text" class="form-control"
                            aria-describedby="Author Name" placeholder="What's your name?">
                        <small id="newProjectHelp" class="form-text text-muted">This cannot be modified later
                            on.</small>
                    </div>
                    <div *ngIf="IsCreateProjectFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        <strong>Project Name</strong> and <strong>Author</strong> cannot be empty. Make sure that you've updated them.
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Create()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsCreatingNewProject">Create New</span>
                                        <span *ngIf="IsCreatingNewProject">Creating</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsCreatingNewProject" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Sort -->
    <div style="margin-bottom: 7em;">
        <span class="h4 text-dark"><i class="far fa-clone text-primary mr-3"></i>Participate</span> <br />
        <p class="text-muted">Use this option as a participant to sort cards in an existing project.</p>
        <div class="row">
            <div class="col-7">
                <form>
                    <div class="form-group">
                        <label for="projectId">Project Id</label>
                        <input [(ngModel)]="SortProjectId" name="sortId" type="text"
                            placeholder="64b2998e-bcad-49bf-bd2f-837a02abe18a" aria-label="Project Id"
                            class="form-control">
                        <small id="sortProjectHelp" class="form-text text-muted">Ask for the Project Id from the project
                            author.</small>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Sort()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsOpeningForSorting">Let me Sort</span>
                                        <span *ngIf="IsOpeningForSorting">Opening...</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsOpeningForSorting" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>

                    <div *ngIf="IsOpeningForSortingFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        Unable to find the project. Make sure that you are using the correct <strong>Project Id</strong>.
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Sort -->
    <div style="margin-bottom: 7em;">
        <span class="h4 text-dark"><i class="far fa-chart-bar text-primary mr-3"></i>Analyze</span> <br />
        <p class="text-muted">Use this option to see how participants organized the cards.</p>
        <div class="row">
            <div class="col-7">
                <form>
                    <div class="form-group">
                        <label for="projectId">Project Id</label>
                        <input [(ngModel)]="AnalyzeProjectId" name="analyzeId" type="text"
                            placeholder="64b2998e-bcad-49bf-bd2f-837a02abe18a" aria-label="Project Id"
                            class="form-control">
                        <small id="analyzeProjectHelp" class="form-text text-muted">If you are the author, then you
                            would know this <i class="far fa-smile-wink"></i></small>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="Analyze()">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <span *ngIf="!IsOpeningForAnalysis">Analyze</span>
                                        <span *ngIf="IsOpeningForAnalysis">Opening...</span>
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="IsOpeningForAnalysis" class="spinner-border spinner-border-sm mx-3"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </button>

                    <div *ngIf="IsOpeningForAnalysisFailed" class="alert alert-danger alert-dismissible fade show my-3"
                        role="alert">
                        Unable to find the project. Make sure that you are using the correct <strong>Project Id</strong>.
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>