<nav class="navbar navbar-light bg-light sticky-top">
    <div class="container">
        <div class="navbar-header">
            <div class="media">
                <img src="./assets/noun_Wolverine_68964_colored.png" class="align-self-start mr-3 mt-2" width="32"
                    height="32" alt="Wolverine by Yi Chen from the Noun Project">
                <div class="media-body">
                    <a class="navbar-brand text-primary" href="./">Wolverine</a>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item ml-3">
                <button *ngIf="!ActiveProject.isPublished" type="button" class="btn btn-primary" (click)="onPublish()">
                    <table>
                        <tbody>
                            <tr>
                                <td class="align-middle">Publish your sorting</td>
                                <td class="align-middle">
                                    <div *ngIf="IsSaving" class="spinner-border spinner-border-sm mx-3" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <i *ngIf="IsSavingSuccessful && (!IsSaving && !IsDirty)" class="fa fa-check mx-3"
                                        aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </button>
            </li>
        </ul>

    </div>
</nav>

<div class="container mt-5">

    <div *ngIf="ActiveProject">
        <span class="h4 display-4">{{ ActiveProject.name }}</span>
        <div class="mt-3 mb-3">
            <small class="text-muted"><i class="fa fa-user-circle" aria-hidden="true"></i></small>
            <small class="text-muted mx-3">A project by <em>{{ ActiveProject.author }}</em></small><br />
            <small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i></small>
            <small class="text-muted mx-3">Created on <em>{{ ActiveProject.creationDate | date: 'dd MMMM yyyy, hh:mm a' }}</em></small><br />
            <small class="text-muted"><i class="fa fa-bookmark" aria-hidden="true"></i>
            <span class="mx-3">You can bookmark this <a href='./create/{{ ActiveProject.id }}'>link</a> and use it to edit this project anytime.</span> 
            </small>
        </div>
        <hr />

        <div *ngIf="ActiveProject.isPublished" class="alert alert-success mt-5" role="alert">
            <h4 class="alert-heading">Thank you {{ ActiveSortSession.participant }}!</h4>
            Thanks for participating in this activity. Your sort order has been recorded successfully and it will further be analyzed by the author to finalize the information architecture. 
        </div>

        <div *ngIf="!ActiveProject.isPublished">

            <!-- Help -->
            <div class="alert alert-warning mt-5" role="alert">
                <h4 class="alert-heading">Help</h4>
                <ol class="px-3">
                    <li>Drag cards from the
                        <em>Unsorted Group (blue)</em> and drop them on to any of the
                        <em>Sorted Groups (gray).</em>
                    </li>
                    <li>Save and publish the changes.</li>
                    <li>Remember: There is no right or wrong way of sorting!</li>
                </ol>
            </div>

            <!-- Participant Metadata -->
            <div class="mt-5">
                <form>
                    <div class="form-group">
                        <label class="form-control-lg px-0" for="participant">Participant:</label>
                        <input type="text" [(ngModel)]="ActiveSortSession.participant" name="participantMetadata"
                            class="form-control-lg field-with-default-value" placeholder="What's your name?"> <br />
                        <small hidden class="text-muted">This session is last updated on:
                            {{ ActiveSortSession.sessionInstance  | date: 'dd MMM yyyy' }}
                        </small>
                    </div>
                </form>
            </div>

            <!-- Groups and Cards -->
            <div [ngClass]="group.isUnsorted ? 'row' : 'float-left col-3 px-0 py-0 ml-0 mr-3 mt-0 mb-3'"
                *ngFor="let group of ActiveProject.groups">
                <div [ngClass]="group.isUnsorted ? 'col-12' : ''">
                    <div [ngClass]="group.isUnsorted ? 'card border-primary my-3' : 'card my-3'">

                        <div
                            [ngClass]="group.isUnsorted ? 'card-header bg-primary text-white' : 'card-header bg-light text-dark'">
                            <h5 class="card-title">{{ group.title }}</h5>
                            <div class="Card-body mx-0 my-0"><small class="">{{ group.description }}</small></div>
                        </div>

                        <div cdkDropList id="{{ group.id }}" [cdkDropListData]="group.cards"
                            [cdkDropListConnectedTo]="Groups" class="card-deck px-3 py-3"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let card of group.cards" cdkDrag>
                                <div class="card draggable my-3 px-3 py-3">
                                    <b class="card-title">
                                        {{ card.title }}
                                    </b>
                                    <div class="card-body px-0 py-0">
                                        <small class="text-muted">
                                            {{ card.description }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="group.cards?.length == 0" class="mx-4 my-3">
                                <em><small class="text-muted">You can drop cards here.</small></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>